<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:inline="text">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <!--/*@thymesVar id="site" type="java.lang.String"*/-->
    <title th:text="${title} + ' - ' + ${site}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--/* TODO デフォルトスクリプト */-->

    <!--/*@thymesVar id="description" type="java.lang.String"*/-->
    <meta name="description" th:content="${description}">
    <meta property="og:title" th:content="${title} + '-' + ${site}">
    <meta property="og:description" th:content="${description}">
    <!--/* TODO Canonical URL */-->
    <!--/*<meta property="og:url" content="http://foo.com">*/-->

    <!--/* viewport */-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--/* mobile chrome */-->
    <meta name="theme-color" content="#000000" />

    <link rel="stylesheet" href="/index.css" />

    [(${meta})]
</head>

<body>

<div>
    <div class="container root">
        <!--/*@thymesVar id="site" type="java.lang.String"*/-->
        <h2 class="site"><a class="site-link" href="/" th:text="${site}"></a></h2>
        <!--/*@thymesVar id="header" type="java.lang.String"*/-->
        <div class="header" th:utext="${header}"></div>
        <!--/*@thymesVar id="title" type="java.lang.String"*/-->
        <h1 class="title" th:text="${title}" />
        <!--/*@thymesVar id="content" type="java.lang.String"*/-->
        <div class="content" th:utext="${content}" />
        <!--/*@thymesVar id="breadcrumb" type="java.lang.String"*/-->
        <div class="breadcrumb" th:utext="${breadcrumb}"></div>
        <!--/*@thymesVar id="footer" type="java.lang.String"*/-->
        <div class="footer" th:utext="${footer}"></div>
    </div>
</div>

<!--/* TODO index.jsの存在チェック cssも */-->
<script src="/index.js"></script>

</body>

</html>
